<h1>Faça Seu Pedido</h1>

<div class="form">
    <div>
        <a href="/addOrder" class="showOrders"><button>Cadastrar Pedido</button></a>
        <a href="/orders" class="showOrders"><button>Ver Pedidos</button></a>
    </div>
    <script src="app.js"></script>
</div>
